.my-table {
  border-radius: 15px;
  margin-top: 20px;
  box-shadow: 0 0 5px 2px lightgray;
  -webkit-box-shadow: 0 0 5px 2px lightgray;
  -moz-box-shadow: 0 0 5px 2px lightgray;
  th {
    padding: 3px 5px;
    border-bottom: 1px solid rgb(0, 0, 0);
    white-space: nowrap;
  }
  td {
    border: 1px solid rgb(54, 22, 22);
  }
}
