.table {
  border-radius: 15px;
  thead {
    th {
      height: 30px;
      padding: 0px;
      font-size: 15px;
    }
  }
  tbody{
      tr{
          height: 30px;
      }
      th{
          padding: 5px 0px;
          height: 20px;
        }
        td{
            padding: 5px 0px;
          height: 20px;
      }
  }
  margin-top: 20px;
  box-shadow: 0 0 5px 2px lightgray;
  -webkit-box-shadow: 0 0 5px 2px lightgray;
  -moz-box-shadow: 0 0 5px 2px lightgray;
}
