.production-container{
    text-align: center;
    p{
        color: rgba(255,255,255, 0.6);
        font-size: 20px;
        font-weight: bold;
    }
    h1{
        font-size: 30px;
        font-weight: bold;
    }
    background-color: #000,
}