.table {
    th{
        padding: 0px;
        font-size: 14px;
    }
    td{
        padding: 0px;

    }
    margin-top: 20px;
    box-shadow: 0 0 5px 2px lightgray;
    -webkit-box-shadow: 0 0 5px 2px lightgray;
    -moz-box-shadow: 0 0 5px 2px lightgray;
}

.total-box{
    border: 2px black solid;
    text-align: center
}